importFrom(graphics, abline, axis, curve, lines, par, plot)

importFrom(grDevices, dev.off, replayPlot, X11)

importFrom(stats, as.dist, as.ts, coef, cor, cutree, dendrapply,
           deviance, dist, end, formula, frequency, hclust,
           influence.measures, IQR, is.leaf, kmeans, knots, lm, median,
           naprint, p.adjust, pf, pnorm, print.anova, printCoefmat, pt,
           quantile, reformulate, residuals, sd, start, symnum, terms,
           time, ts, tsp, write.ftable)

importFrom(utils, browseURL, menu, str, toBibtex, write.table,
           zip.file.extract)


export(make.design.matrix,p.vector,T.fit,get.siggenes,see.genes)

