importFrom(Biobase, addVigs2WinMenu, readExpressionSet)

importFrom(graphics, abline, axis, curve, lines, par, plot)

importFrom(grDevices, dev.off, X11)

importFrom(limma, vennDiagram)

importFrom(Mfuzz, acore, mfuzz)

importFrom(stats, as.dist, cor, cutree, dist, hclust,
           influence.measures, kmeans, lm, median, p.adjust, pf, sd)

importFrom(MASS, negative.binomial)

export(average.rows, get.siggenes, i.rank, make.design.matrix, maSigPro,
       p.vector, PlotGroups, PlotProfiles, position, reg.coeffs, see.genes,
       stepback, stepfor, suma2Venn, T.fit, two.ways.stepback, two.ways.stepfor)
